* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  color-scheme: dark;
}
*::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5b2;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #252b52;
}
body .header-portada-search-container {
  background-color: #000;
  background-image: linear-gradient(to bottom, #000 0%, #3a0064 100%);
  overflow: hidden;
}
body .header-portada-search-container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(7px);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  padding: 0px 15px;
}
body .header-portada-search-container header {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.4);
}

body .header-portada-search-container header .logo-aimg a {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: 'Tourney', sans-serif;
  font-size: 2rem;
  padding: 5px 0px;
  color: white;
}
body .header-portada-search-container header .logo-aimg a img{
  width: auto;
  height: 50px;
  padding: 10px;
}
body .header-portada-search-container header nav{
  display: none;
  width: auto;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
/* Estilos del nav oculto (movil) */
body .header-portada-search-container header nav ul{
  background-color: white;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
}
body .header-portada-search-container header nav ul li{
  list-style: none;
  padding: 0 10px;
  font-size: 2.5rem;
}
body .header-portada-search-container header nav ul li a{
  color: rgb(63, 63, 63);
  text-shadow: none;
  text-decoration: none;
}
body .header-portada-search-container header nav ul li a:hover{
  color: #9340e0;
  text-shadow: 1px 1px 5px rgb(180, 9, 196);
}
body .header-portada-search-container header button {
  background: none;
  background-image: url('../assets/img/menu-svgrepo-com.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  filter: invert(1);
  border-radius: 5px;
  background-color: #ffffff14;
}
body .header-portada-search-container .portada-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  padding-top: 100px;
}
body .header-portada-search-container .portada-container .portada {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .header-portada-search-container .portada-container .portada section {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}
body .header-portada-search-container .portada-container .portada section h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) ;
}
body .header-portada-search-container .portada-container .portada section p {
  padding-top: 10px;
  font-size: 1.4rem;
  color: rgb(194, 194, 194);
  text-align: center;
}
body .header-portada-search-container .portada-container .portada section .planeta {
  background-image: url("../assets/img/tierra.jpg");
  background-size: cover;
  border: 2px solid rgba(120, 90, 185, 0.48);
  border-radius: 50%;
  width: 200px;
  height: 199px;
  animation: movimiento 56s linear 0s infinite;
  box-shadow: 0 0 25px RGBA(255,255,255, 0.10),
             -8px -8px 15px #111111 inset,
             2px 2px 25px #240341 inset,
             -45px -45px 25px RGBA(0,0,0, 0.5) inset, 
             25px 25px 45px RGBA(0,0,0, 0.45) inset;
  margin: 20px auto;
  box-shadow: 0px 0px 24px 10px rgba(85, 56, 146, 0.884);
  transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

@keyframes movimiento {
  0% { background-position:0 0 }
  100% { background-position: 655px 0 }
}

@keyframes stars {
  0% { background-position:0 0 }
  100% { background-position:0 100% }
}
body .header-portada-search-container .search {
  width: 100%;
  height: 100px;
  background-image: url('../assets/img/rect2.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
body main {
  width: 100%;
  background-image: url('../assets/img/G_Linea.png'), linear-gradient(180deg, rgb(255, 255, 255) 0%,rgb(136, 103, 190) 15%, rgb(37, 13, 92) 75%, #0d0016 100%);
  background-size: cover;
}
body main .search-core {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -100px;
  z-index: 99;
}
body main .search-core .consejo {
  max-width: 550px;
  width: calc(100vw - 2%);
  padding: 15px 10px 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
body main .search-core .consejo p {
  color: #5a5a5a;
  font-size: 1.2rem;
  white-space: nowrap;
  margin-right: 40px;
  font-weight: 200;
}
body main .search-core .searcheable-fill {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}
body main .search-core .searcheable-fill .search-container {
  max-width: 550px;
  width: calc(100vw - 5%);
  height: auto;
  border: 1px solid #636363;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
body main .search-core .searcheable-fill .search-container input {
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  background-color: #f5f5f500;
  padding-left: 15px;
}
body main .search-core .searcheable-fill .search-container button {
  width: 5%;
  border: none;
  border-radius: 25%;
  background-color: #f5f5f500;
  transition: background-color 1.5s ease;
  margin-right: 10px;
}
body main .search-core .searcheable-fill .search-container button:hover {
  cursor: pointer;
  background-color: rgb(44,113,3);
  background-color: -moz-radial-gradient(circle, rgba(44,113,3,1) 19%, rgba(255,255,255,0) 97%);
  background-color: -webkit-radial-gradient(circle, rgba(44,113,3,1) 19%, rgba(255,255,255,0) 97%);
  background-color: radial-gradient(circle, rgba(44,113,3,1) 19%, rgba(255,255,255,0) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c7103",endColorstr="#ffffff",GradientType=1);
}
body main .search-core .searcheable-fill .search-container button::placeholder {
  color: white;
  font-size: 1rem;
}
body main .search-core .searcheable-fill .search-container button svg {
  filter: invert(1);
}
body main .search-core .searcheable-fill .search-container .search-respuesta {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body main .search-core .searcheable-fill .search-container .search-respuesta p {
  font-size: 1.5rem;
  color: white;
  padding: 2px 10px;
}
body main .search-core .searcheable-fill .search-container .search-respuesta .recent-searches {
  border-radius: 5px;
  color: #A6A9E3;
  background-color: #222222;
  text-align: center;
  text-wrap: nowrap;
  margin-left: 10px;
  padding: 5px 8px;
  font-size: 1.1rem;
  width: 170px;
  margin-bottom: 5px;
}
body main .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 2px 1px 10px;
}
body main .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item:hover {
  background-color: #454545;
}
body main .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item .search-respuesta-item-text {
  font-size: 1.5rem;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  width: 100%;
}
body main .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item .search-respuesta-item-logo {
  width: 17px;
  filter: invert(0.7);
}

/* Capacidades */

body main .capacidades-container {
  width: 100%;
  height: auto;
  margin-top: -80px;
}
body main .capacidades-container .capacidades-container-refill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
body main .capacidades-container .capacidades-container-refill .capacidades {
  max-width: 1000px;
  width: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
body main .capacidades-container .capacidades-container-refill .capacidades ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body main .capacidades-container .capacidades-container-refill .capacidades ul li {
  width: 70px;
  border-radius: 15px;
  color: white;
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .capacidades-container .capacidades-container-refill .capacidades ul li img {
  width: 90%;
  height: 100%;
  border-radius: 15px;
  filter: invert(1) brightness(0.3) contrast(1.5);
}
body main .capacidades-container .capacidades-container-refill .capacidades ul li h4 {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
body main .capacidades-container .capacidades-container-refill .capacidades-verbose {
  width: 100%;
  padding: 20px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .capacidades-container .capacidades-container-refill .capacidades-verbose h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: #3ca3de;
  padding-top: 10px;
  text-shadow: 1px 1px 2px rgb(124, 126, 27);
}
body main .capacidades-container .capacidades-container-refill .capacidades-verbose h2 {
  max-width: 800px;
  font-size: 2.3rem;
  color: rgb(243, 249, 255);
  padding: 0px 30px;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(6, 15, 95);
}
body main .capacidades-container .capacidades-container-refill .capacidades-verbose p {
  max-width: 1000px;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20px;
}
body main .chip-recientes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0000007e;
  padding: 0px 10px;
  padding-bottom: 10px;
}
body main .chip-recientes-container .ultimos-tittle {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  border-radius: 5px;
}
body main .chip-recientes-container .ultimos-tittle h3 {
  font-size: 2.2rem;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
body main .chip-recientes-container .ultimos-container {
  width: 100%;
  padding: 5px;
  overflow: auto;
}
body main .chip-recientes-container .ultimos-container .ultimos-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card {
  width: 20%;
  min-width: 290px;
  height: 250px;
  border-radius: 10px;
  margin: auto 5px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card:hover {
  transform: scale(0.95);
  transition: transform 0.5s ease;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card .card-text {
  width: 100%;
  height: 50px;
  background-color: #0000007e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card .card-text h3 {
  font-size: 1.6rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  text-overflow: ellipsis;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card-more {
  min-width: 180px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card-more a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('../assets/arrow-up-right-svgrepo-com.svg');
  background-size: cover;
  filter: invert(1);
  background-color: #24bb2e88;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card-more a:hover {
  background-color: #9415ba;
}
body main .chip-recientes-container .ultimos-container .ultimos-content .card-more  h3 {
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  padding-top: 10px;

}
body main .contribuye-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
body main .contribuye-container .contribuye {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  flex-wrap: nowrap;
  overflow: hidden;
}
body main .contribuye-container .contacta {
  direction: rtl;
}
body main .contribuye-container .contribuye .contribuye-info {
  width: 80%;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  position: relative;
  z-index: 99;
}
body main .contribuye-container .contribuye .contribuye-info > * {
  margin: 10% 0px;
}
body main .contribuye-container .contribuye .contribuye-info h2 {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
body main .contribuye-container .contribuye .contribuye-info p {
  max-width: 500px;
  font-size: 1.5rem;
  color: rgb(231, 231, 231);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
body main .contribuye-container .contribuye .contribuye-info a {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #905bb6;
  border: solid 1px #ffffff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .contribuye-container .contribuye .contribuye-info a:hover {
  background-color: #1e9957;
}
body main .contribuye-container .contribuye .contribuye-info a span {
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
body main .contribuye-container .contribuye .contribuye-img {
  width: 30%;
  min-width: 300px;
  max-width: 600px;
}
body main .contribuye-container .contribuye .contribuye-img img {
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
/* Footer */
footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #0D0017;
  align-items: center;
  justify-content: space-evenly;
}
footer .logo-container {
  height: auto;
  display: flex;
}
footer .logo-container img {
  filter: grayscale(1);
  width: 30px;
}
footer .desarrollador-container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .desarrollador-container .dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
}
footer .desarrollador-container .dev p {
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  padding-bottom: 5px;
}
footer .desarrollador-container .dev img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
footer .desarrollador-container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
}
footer .desarrollador-container ul li {
  padding: 0px 15px;
}
footer .desarrollador-container ul li a img{
  width: 15px;
  height: 15px;
  filter: invert(1);
}
footer .dominio-container {
  height: auto;
  display: flex;
}
footer .dominio-container p {
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}