* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
body::-webkit-scrollbar
{
	width: 12px;
	background-color: #f5f5f500;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #252b52;
}
body header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
body header .logo-aimg a {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: 'Tourney', sans-serif;
  font-size: 2.5rem;
  padding: 5px;
  color: white;
}
body header .logo-aimg a img{
  width: auto;
  height: 60px;
  padding: 10px;
}
body header nav{
  display: none;
}
body header button {
  width: 25px;
  height: 25px;
}

body .portada-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000 0%, #3a0064 100%);
}
body .portada-container .portada {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .portada-container .portada section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  padding: 0px 10px;
}
body .portada-container .portada section h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: white;
}
body .portada-container .portada section p {
  padding-top: 10px;
  font-size: 1.3rem;
  color: rgb(194, 194, 194);
  text-align: center;
}
body .portada-container .portada section .planeta {
  background-image: url("../assets/img/tierra.jpg");
  background-size: cover;
  border: 2px solid rgba(120, 90, 185, 0.48);
  border-radius: 50%;
  width: 200px;
  height: 199px;
  animation: movimiento 75s linear 0s infinite;
  box-shadow: 0 0 25px RGBA(255,255,255, 0.10),
             -8px -8px 15px #111111 inset,
             2px 2px 25px #240341 inset,
             -45px -45px 25px RGBA(0,0,0, 0.5) inset, 
             25px 25px 45px RGBA(0,0,0, 0.45) inset;
  margin: 20px auto;
  box-shadow: 0px 0px 24px 20px rgba(69, 50, 111, 0.48);
  transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

@keyframes movimiento {
  0% { background-position:0 0 }
  100% { background-position:355px 0 }
}

@keyframes stars {
  0% { background-position:0 0 }
  100% { background-position:0 100% }
}

body main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 478px;
}
body main .search {
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
body main .search .search-core {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/img/rect2.svg');
  background-size: 200%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
body main .search .search-core .consejo {
  max-width: 550px;
  width: calc(100vw - 2%);
  padding: 15px 10px 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
body .search .search-core .consejo p {
  color: #000;
  font-size: 1.2rem;
  font-weight: 200;
  white-space: nowrap;
  margin-right: 40px;
}
body main .search .search-core .searcheable-fill {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 5px;
}
body main .search .search-core .searcheable-fill .search-container {
  max-width: 550px;
  width: calc(100vw - 2%);
  height: auto;
  border: 1px solid #636363;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
body main .search .search-core .searcheable-fill .search-container input {
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  background-color: #f5f5f500;
  padding-left: 15px;
}
body main .search .search-core .searcheable-fill .search-container button {
  width: 5%;
  border: none;
  border-radius: 25%;
  background-color: #f5f5f500;
  transition: background-color 1.5s ease;
  margin-right: 10px;
}
body main .search .search-core .searcheable-fill .search-container button:hover {
  cursor: pointer;
  background-color: rgb(44,113,3);
  background-color: -moz-radial-gradient(circle, rgba(44,113,3,1) 19%, rgba(255,255,255,0) 97%);
  background-color: -webkit-radial-gradient(circle, rgba(44,113,3,1) 19%, rgba(255,255,255,0) 97%);
  background-color: radial-gradient(circle, rgba(44,113,3,1) 19%, rgba(255,255,255,0) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c7103",endColorstr="#ffffff",GradientType=1);
}
body main .search .search-core .searcheable-fill .search-container button::placeholder {
  color: white;
  font-size: 1rem;
}
body main .search .search-core .searcheable-fill .search-container button svg {
  filter: invert(1);
}
body main .search .search-core .searcheable-fill .search-container .search-respuesta {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  width: 100%;
}
body main .search .search-core .searcheable-fill .search-container .search-respuesta p {
  font-size: 1.5rem;
  color: white;
  padding: 7px 10px;
}
body main .search .search-core .searcheable-fill .search-container .search-respuesta .recent-searches {
  border-radius: 5px;
  color: #A6A9E3;
  background-color: #222222;
  text-align: center;
  text-wrap: nowrap;
  margin-left: 10px;
  padding: 8px;
  font-size: 1.1rem;
  width: 150px
}
body main .search .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
body main .search .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item:hover {
  background-color: #454545;
}
body main .search .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item .search-respuesta-item-text {
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}
body main .search .search-core .searcheable-fill .search-container .search-respuesta .search-respuesta-item .search-respuesta-item-logo {
  width: 17px;
  filter: invert(0.7);
}
body main .search .capacidades-container {
  width: 100%;
  height: auto;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,59,230,1) 15%, rgba(71,71,171,1) 32%, rgba(81,17,124,1) 59%, rgba(20,2,33,1) 89%, rgba(15,94,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,59,230,1) 15%, rgba(71,71,171,1) 32%, rgba(81,17,124,1) 59%, rgba(20,2,33,1) 89%, rgba(15,94,0,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,59,230,1) 15%, rgba(71,71,171,1) 32%, rgba(81,17,124,1) 59%, rgba(20,2,33,1) 89%, rgba(15,94,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#0f5e00",GradientType=1);
}
body main .search .capacidades-container .capacidades-container-refill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/img/G_Linea.png');
  background-size: cover;
}
body main .search .capacidades-container .capacidades {
  width: 100%;
  padding-top: 20px;
}
body main .search .capacidades-container .capacidades ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main .search .capacidades-container .capacidades ul li {
  width: 280px;
  height: 320px;
  border-radius: 15px;
  background-color: #2b2b2b73;
  color: white;
  list-style: none;
  font-size: 2rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
body main .search .capacidades-container .capacidades ul li img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
body main .search .capacidades-container .capacidades ul li h4 {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}
body main .search .capacidades-container .capacidades ul li p {
  font-size: 1.5rem;
  padding: 10px;
  text-align: justify;
}
body main .search .capacidades-container .capacidades-verbose {
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}
body main .search .capacidades-container .capacidades-verbose h2 {
  font-size: 2.6rem;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  text-align: center;
}
body main .search .capacidades-container .capacidades-verbose p {
  font-size: 1.4rem;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 1000px;
}